/* 1. Use a custom Google Fonts for highlights
      font-family: 'Mystery Quest', cursive;
   2. A standard sans-serif web font for data (Arial, Verdana, or Helvetica)
      Helvetica
   3. A standard serif web font for text (Georgia, Times, etc)
      Georgia
   4. Different font colors for all three fonts used
   5. Background color for the default page
      #FDC689
   6. A different background color for elements such as, boxes or tables
*/



body {
  background-color: #FDC689;
  color: #1C2431;
  display: grid;
  grid-template-columns: 10vw 70vw 20vw;
  grid-template-rows: 15vh 75vh 10vh;
}

h1 {
  color: #1C2431;
  font-size: 3em;
  font-family: 'Mystery Quest', cursive;
  text-shadow: 2px 2px whitesmoke;
}

header {
   grid-column: 2/3;
   grid-row: 1/2;
   padding: 1em;
}

header h1 {
   padding-top: 0.5em;
   text-align: center;
}

#cookieSales {
   grid-column: 2/3;
   grid-row: 2/3;
}

nav {
   grid-column: 1/2;
   grid-row: 1/2;
   padding-left: 3em;
   padding-top: 2em;
}

nav li {
   color: #1C2431;
   font-size: 1.2em;
   padding: 0.5em;
 }


caption {
   background-color: #FCAA4F;
   color:#1C2431;
   font-family: 'Mystery Quest', cursive;
   font-size: 1.25em;
   padding: 1%;
   text-shadow: 1px 1px whitesmoke;
}

h1 {
  font-size: 2.5em;
  font-weight: 600;
}
table {
   font-family:Georgia, 'Times New Roman', Times, serif;
   color:#5B2E00;
   margin: auto;
   margin-top: 1.5%;
   text-align: center;
}

tbody tr:nth-child(odd) {
   background-color: #FCAA4F;
}

td {
   font-family:Arial, Helvetica, sans-serif;
   color: #07080C;
}

th {
   padding: 0.5%;
}

table, th, td {
   border: 1px solid #1C2431;
   padding: 0.45em;
}

aside {
   grid-column: 3/4;
   grid-row: 1/3;
}

aside {
   padding: 1em;
   padding-top: 11.5em;

}

legend{
   font-size: 1.3em;
   font-family: 'Mystery Quest', cursive;
   padding-bottom: 0.1em;
   text-align: center;
   text-shadow: 1px 1px whitesmoke;
}

fieldset label {
   font-size: 1em;
   font-family: 'Mystery Quest', cursive;
   text-shadow: 1px 1px whitesmoke;
   padding-top: 2em;
}



footer {
   grid-column: 1/4;
   grid-row: 3/4;
   background-image:url("../img/salmon.png");
   background-size: contain;
}
